<div class="container blue-grey-text text-darken-4">
  <div class="row">
    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Add/Edit User</span>
          <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="userService.selectedUser._id">
            <div class="row">
              <div class="input-field col s12 first-input">
                <i class="material-icons prefix">person</i>
                <input type="text" id="firstName" class="form-control" name="firstName" #firstName="ngModel"
                  [(ngModel)]="userService.selectedUser.firstName" required autofocus>
                <label for="firstName">First Name</label>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                    class="alert alert-danger red-text">
                  <div *ngIf="firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input type="text" id="lastName" class="form-control" name="lastName" #lastName="ngModel" 
                  [(ngModel)]="userService.selectedUser.lastName" required>
                <label for="lastName">Last Name</label>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                    class="alert alert-danger red-text">
                  <div *ngIf="lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input type="email" id="email" class="form-control" name="email" #email="ngModel" 
                  [(ngModel)]="userService.selectedUser.email" required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <label for="email">Email</label>
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger red-text">
                  <div *ngIf="email.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="email.errors.pattern">
                    Email is not valid
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right waves-effect blue" style="margin-left: 5px;" 
                    (click)="resetForm(userForm)">Clear
                  </button>
                  <button class="btn right waves-effect" type="submit"
                    [disabled]="userForm.form.invalid && userForm.form.touched">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l7">
      <h4>Users List</h4>
      <table class="striped">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of userService.users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>
              <a (click)="editUser(user)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteUser(user)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="flow-text">
        <strong class="left" style="margin-right: 15px;">Total:</strong>
        <span>{{ userService.users.length }}</span>
      </p>
    </div>
  </div>
</div>